.header {
	margin-top: 15px;
}

.header-default {
	width: 100%;
	/*
	height: 400px;
	height: 40vh;
	background: #6f5499;
	color: #ffffff;*/
	margin-bottom: 30px;
	margin-top: 30px;
}

.header-default .title {
	color: #579954;
}
